<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Comments</title>

    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
{% block content %}{% endblock %}
{% block modal %}{% endblock %}
{% block script %}
    <script type="text/javascript" src="/vendor/components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>